<h1>Basics of Python</h1>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a>Operations</a>
            <ul>
                <li>
                    <a href="#math">Mathematical operations</a>
                </li>
                <li>
                    <a href="#assignment">Assignment operations</a>
                </li>
                <li>
                    <a href="#comparison">Comparison (relational) operations</a>
                </li>
                <li>
                    <a href="#logic">Logical operations</a>
                </li>
                <li>
                    <a href="#identity">Identity operations</a>
                </li>
                <li>
                    <a href="#bitwise">Bitwise operations</a>
                </li>
            </ul>
        </li>
        <li> Number System Conversion
        </li>
        <li> Swapping 2 variables
        </li>
        <li> Line Continuation
        </li>
        <li> Data Types
        </li>
     </ul>
</div>
<hr>

<a id="math"></a>

<h3>Mathematical operators</h3>

In [5]:
x = 23
y = -2
z = 3

print (str(x + y) + " - addition")
print (str(x - y) + " - substraction")
print (str(x ** z) + " - power")
print (str(x * z) + " - multiplication")
print (str(x / z) + " - division")
print (str(x // z) + "- integer division")
print (str(x % z) + " - division reminder")

21 - addition
25 - substraction
12167 - power
69 - multiplication
7.666666666666667 - division
7- integer division
2 - division reminder

In [ ]:
# Смена знака числа (Unary Operator)
y = 10
-y

In [ ]:
# Модуль числа
abs(-4)

In [ ]:
# Пара (x // y, x % y)
n = 50
m = 20
divmod(n, m)

In [ ]:
pow(x, y[, z])	# x в степени y по модулю (если модуль задан)

In [ ]:
# возвращает число элементов последовательности (для string переменных)
r = n*m*t*p*x
len(str(r))

In [ ]:
# суммирует все числа списка
sum()

In [ ]:
# округляет число x до у-знака
q = 4.34234635421
w = 4
round(q, w)

In [ ]:
# последний результат - _
w * m
_ + 4

In [ ]:
type(_)

<a id="assignment"></a>

<h3>Assignment operations</h3>

In [ ]:
x = 2
print (x)
x = x + 3
print (x)
x += 8
print (x)

In [ ]:
# multiple assignment (tuple assignment)
t,p = 2,3
# or
a,b,c,d = (10,20,30,40)

#assignment to the same value
x=y=z=2

<a id="comparison"></a>

<h3>Comparison (relational) operations</h3>

In [ ]:
a = 8
b = 8
a < b # less than
a > b # greater than
a == b # equal to
a != b # not equal to
a <= b # less than or equal to
a >= b # greater than or equal to
print (a < b, a > b)
print (a == b, a != b)
print (a <= b, a >= b)

<h4>Comparing strings</h4>

In [ ]:
"test"=='test'

In [ ]:
"test"!="text"

In [ ]:
"Test"=="test" # equality operator is case sensitive

In [ ]:
'BA' > 'AB'

<a id="logic"></a>

<h3>Logical operations</h3>

#### Order of importance: NOT, AND, OR

**NOT**

In [ ]:
print ("not True - " + str(not True))
print ("not False - " + str(not False))

**AND**

In [ ]:
print ("True and True - " + str(True and True))
print ("True and False - " + str(True and False))
print ("False and True - " + str(False and True))
print ("False and False - " + str(False and False))

**OR**

In [ ]:
print ("True or True - " + str(True or True))
print ("False or True - " + str(False or True))
print ("True or False - " +  str(True or False))
print ("False or False - " + str(False or False))

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

In [ ]:
(1 == 2) or (2 == 3) or not(4 == 4)

<a id="identity"></a>

<h3>Identity operations</h3>

In [ ]:
is		#Returns true if both variables are the same object, similar to ==
is not  #Returns true if both variables are not the same object, similar to !=

<a id="bitwise"></a>

<h3>Bitwise operations</h3>

In [ ]:
print (~200)     # Complement (NOT) (~ tilde)
print (12 & 16)  # AND
print (12 | 54)  # OR
print (12 ^ 13)  # XOR
print (10 << 2)  #left shift
print (7 >> 23)  #right shift

### Number System Conversion

In [ ]:
int([object], [основание системы счисления]) - преобразование к целому числу в десятичной системе счисления. По умолчанию система счисления десятичная, но можно задать любое основание от 2 до 36 включительно.
bin(x) #преобразование целого числа в двоичную строку
hex(х) #преобразование целого числа в шестнадцатеричную строку
oct(х) #преобразование целого числа в восьмеричную строку
# from decimal (base 10) to binary (base 2)
print(bin(23))
#from decimal (base 10) to octal (base 8)
print(oct(23))
#from decimal (base 10) to hexadecimal (base 16)
print(hex(23))

### Swapping 2 variables

In [ ]:
# смена значений переменных
t, p = p, t
print (t,p)

In [ ]:
a = 2
b = 5
temp = a
a = b
b = temp
print (a,b)

In [ ]:
a = 2
b = 5
a = a + b
b = a - b
a = a - b
print (a,b)

In [ ]:
a = 2
b = 5
a = a ^ b
b = a ^ b
a = a ^ b
print (a,b)

### Line Continuation

Add a backslash in the code below, so it is a one-line code. Observe the change in the result.

In [ ]:
10 + 20 \
* 4

In [ ]:
a = 342365
b = 214525
c = a**b
d = len(str(c))
v = int(d)
print(v)

In [ ]:
from qiskit import *

## Integer, Float, Complex, Boolean

In [ ]:
numeric1 = 4
numeric2 = 6.2
numeric3 = 6+9j
numeric4 = True

print (type(numeric1))
print (type(numeric2))
print (type(numeric3))
print (type(numeric4))

## Sequences: List, Tuple, Set, String, Range

In [ ]:
lst = [51,78,46,65,3,9]               #list
tpl = (51,78,46,65,3,9)               #tuple
st = {33,22,54,23,8,12,8,8,8,8,8,8}   #set
name = "Richard"
year = "1992"
range(10)

print (type(lst))
print (type(tpl))
print (type(st))
print (type(name))
print (type(year))
print (type(range(10)))